@media(min-width: 769px){
  .FormLogin {
    position: relative;
    margin: 100px auto 0;
    width: 40%;
    background: #ffffff;
    border-radius: 0;
    height: 60vh;
    /* left: 50%; */
    /* transform: translateX(-50%); */
    .logoIwaki > img {
      position: absolute;
      width: 20%;
      height: auto;
      left: 50%;
      transform: translateX(-50%);
      top: 70px;
    }
    .LoginTitle {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 110px;
      p {
        font-family: "Lato";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
  
        color: #262626;
      }
    }
    .loginForm {
      position: absolute;
      top: 190px;
      width: 60%;
      /* left: 50%;
      transform: translateX(-50%); */
      align-items: center;
      display: flex;
      margin: 0 20% 0;
      .formLoginn {
        gap: 30px;
  
        .ant-form-item {
          width: 100%;
        }
  
        .ant-input-affix-wrapper {
          height: 50px;
  
          border-radius: 40px;
        }
      }
  
      .btnSignIn {
        margin-left: 50%;
        gap: 5px;
        position: absolute;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        width: 148px;
        height: 34px;
        top: 200px;
        border: unset;
      }
      .iconArrow {
        width: 60px;
        height: 34px;
        background: #231b9a;
        border-radius: 17px;
      }
  
      .linkForgot {
        position: absolute;
        width: 154px;
        height: 24px;
        top: 140px;
        /* left: 175px; */
        margin-left: 50%;
        text-decoration: none;
  
        .spanForgot {
          font-family: Lato;
          font-size: 15px;
          font-weight: 400;
          line-height: 18px;
          letter-spacing: 0em;
          text-align: left;
          color: #9a9a9a;
        }
      }
    }
    /* .imageNenVectorLogin > img {
      position: absolute;
      width: 100%;
      max-width: 369px;
      height: 290px;
      left: 12%;
      transform: translateX(-50%);
      top: 460px;
    } */
    .imageNenVectorLogin {
      display: flex;
      position: absolute;
      bottom: 0;
      left: 0%;
    }
  }
}
@media (max-width: 768px) {
  .FormLogin {
    margin: 0;
    position: relative;
    width: 100%;
    background: #ffffff;
    border-radius: 0;
    height: 100svh;
    left: 50%;
    transform: translateX(-50%);
    .logoIwaki > img {
      position: absolute;
      width: 30%;
      height: auto;
      left: 50%;
      transform: translateX(-50%);
      top: 167px;
    }
    .LoginTitle {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 200px;
      p {
        font-family: "Lato";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        text-align: center;

        color: #262626;
      }
    }
    .loginForm {
      transform: translateX(-50%);
      position: absolute;
      top: 300px;
      width: 300px;
      left: 50%;

      .formLoginn {
        gap: 30px;

        .ant-form-item {
          width: 100%;
        }

        .ant-input-affix-wrapper {
          height: 50px;

          border-radius: 40px;
        }
      }
      .iconArrow {
        width: 60px;
        height: 34px;
        background: #231b9a;
        border-radius: 17px;
      }
      .btnSignIn {
        margin-left: 60%;
        gap: 5px;
        position: absolute;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        width: 148px;
        height: 34px;
        top: 200px;
        border: unset;
      }
      .linkForgot {
        position: absolute;
        width: 154px;
        height: 24px;
        top: 150px;
        left: 175px;
        text-decoration: none;

        .spanForgot {
          font-family: Lato;
          font-size: 15px;
          font-weight: 400;
          line-height: 18px;
          letter-spacing: 0em;
          text-align: left;
          color: #9a9a9a;
        }
      }
    }
    .imageNenVectorLogin {
      display: flex;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
}
